<footer>
  <p mt-8 text-xs op-30  text-center class="max-w-[80vw] mx-auto flex justify-center flex-wrap mb-[1em]">
    <a
      b-slate-link
      href="https://1201.io" target="_blank"
    >
      Gemini Pro Chat
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://1201.io" target="_blank"
    >
      blog
    </a> <span px-1>|</span>
	<a
      b-slate-link
      href="https://bwg.1201.io/76231" target="_blank"
    >
      VPS
    </a>
  </p>
</footer>
