<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://1201.io" target="_blank"
    >
      Gemini Pro Chat
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://1201.io" target="_blank"
    >
      blog
    </a>
  </p>
</footer>
